RTGMGateway/Connected Services/RTGMCore/GasMetropolitanoRuntimeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" />
  <xs:element name="BusquedaDireccionEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" minOccurs="0" name="FuenteDatos" type="q1:Fuente" />
        <xs:element minOccurs="0" name="IDCliente" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="IDEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CalleNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ColoniaNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MunicipioNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumExterior" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="NumInterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoServicio" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ZonaEconomica" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ZonaLecturista" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Portatil" type="xs:boolean" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDAutotanque" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaDireccionEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" minOccurs="0" name="BusquedaDireccionEntregaResult" nillable="true" type="q2:ArrayOfDireccionEntrega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDatosFiscales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDEmpresa" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="IDDatosFiscales" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDatosFiscalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" minOccurs="0" name="ConsultarDatosFiscalesResult" nillable="true" type="q3:DatosFiscales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>