RTGMGateway/Connected Services/RTGMCore/GasMetropolitanoRuntimeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.SqlDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.SqlDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" />
  <xs:complexType name="EmpleadoSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q1:EmpleadoSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpleadoSIGAMETDatos" nillable="true" type="tns:EmpleadoSIGAMETDatos" />
  <xs:complexType name="CondicionesCreditoSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q2:CondicionesCreditoSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CondicionesCreditoSIGAMETDatos" nillable="true" type="tns:CondicionesCreditoSIGAMETDatos" />
  <xs:complexType name="ConfiguracionSuministroDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q3:ConfiguracionSuministro">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfiguracionSuministroDatos" nillable="true" type="tns:ConfiguracionSuministroDatos" />
  <xs:complexType name="DatosFiscalesSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q4:DatosFiscalesSigamet">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatosFiscalesSIGAMETDatos" nillable="true" type="tns:DatosFiscalesSIGAMETDatos" />
  <xs:complexType name="RutaSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q5:RutaSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RutaSIGAMETDatos" nillable="true" type="tns:RutaSIGAMETDatos" />
  <xs:complexType name="ZonaSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q6:ZonaSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZonaSIGAMETDatos" nillable="true" type="tns:ZonaSIGAMETDatos" />
  <xs:complexType name="DireccionEntregaSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q7:DireccionEntregaSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DireccionEntregaSIGAMETDatos" nillable="true" type="tns:DireccionEntregaSIGAMETDatos" />
  <xs:complexType name="DireccionEntregaSIGAMETPortatilDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q8:DireccionEntregaSIGAMETPortatil">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DireccionEntregaSIGAMETPortatilDatos" nillable="true" type="tns:DireccionEntregaSIGAMETPortatilDatos" />
  <xs:complexType name="PedidoSIGAMETDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q9:PedidoSIGAMET">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PedidoSIGAMETDatos" nillable="true" type="tns:PedidoSIGAMETDatos" />
  <xs:complexType name="PedidoSigametPortatilDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" base="q10:PedidoSigametPortatil">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PedidoSigametPortatilDatos" nillable="true" type="tns:PedidoSigametPortatilDatos" />
</xs:schema>