RTGMGateway/Connected Services/RTGMCore/GasMetropolitanoRuntimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GasMetropolitanoRuntimeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.Negocio" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.SqlDatos" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GasMetropolitano.Runtime.WebServicesCRM" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGasMetropolitanoRuntimeService_BusquedaDireccionEntrega_InputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDireccionEntrega" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_BusquedaDireccionEntrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDireccionEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_BusquedaDireccionEntregaLista_InputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDireccionEntregaLista" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_BusquedaDireccionEntregaLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDireccionEntregaListaResponse" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ConsultarPedidos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedidos" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ConsultarPedidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ConsultarDatosFiscales_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatosFiscales" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ConsultarDatosFiscales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatosFiscalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ActualizarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPedido" />
  </wsdl:message>
  <wsdl:message name="IGasMetropolitanoRuntimeService_ActualizarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGasMetropolitanoRuntimeService">
    <wsdl:operation name="BusquedaDireccionEntrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntrega" message="tns:IGasMetropolitanoRuntimeService_BusquedaDireccionEntrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntregaResponse" message="tns:IGasMetropolitanoRuntimeService_BusquedaDireccionEntrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaDireccionEntregaLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntregaLista" message="tns:IGasMetropolitanoRuntimeService_BusquedaDireccionEntregaLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntregaListaResponse" message="tns:IGasMetropolitanoRuntimeService_BusquedaDireccionEntregaLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarPedidos" message="tns:IGasMetropolitanoRuntimeService_ConsultarPedidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarPedidosResponse" message="tns:IGasMetropolitanoRuntimeService_ConsultarPedidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDatosFiscales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarDatosFiscales" message="tns:IGasMetropolitanoRuntimeService_ConsultarDatosFiscales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarDatosFiscalesResponse" message="tns:IGasMetropolitanoRuntimeService_ConsultarDatosFiscales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ActualizarPedido" message="tns:IGasMetropolitanoRuntimeService_ActualizarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGasMetropolitanoRuntimeService/ActualizarPedidoResponse" message="tns:IGasMetropolitanoRuntimeService_ActualizarPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGasMetropolitanoRuntimeService" type="tns:IGasMetropolitanoRuntimeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BusquedaDireccionEntrega">
      <soap:operation soapAction="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaDireccionEntregaLista">
      <soap:operation soapAction="http://tempuri.org/IGasMetropolitanoRuntimeService/BusquedaDireccionEntregaLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedidos">
      <soap:operation soapAction="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDatosFiscales">
      <soap:operation soapAction="http://tempuri.org/IGasMetropolitanoRuntimeService/ConsultarDatosFiscales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPedido">
      <soap:operation soapAction="http://tempuri.org/IGasMetropolitanoRuntimeService/ActualizarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GasMetropolitanoRuntimeService">
    <wsdl:port name="BasicHttpBinding_IGasMetropolitanoRuntimeService" binding="tns:BasicHttpBinding_IGasMetropolitanoRuntimeService">
      <soap:address location="http://192.168.1.30:88/GasMetropolitanoRuntimeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>